
/* Header styles */

body {
    margin: 0;
    line-height: normal;
    font-family: 'Source Sans Pro', sans-serif;
}

.headermask {
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    height: 801px;
    z-index: 1;
}

.header {
	width: 100%;
	position: absolute;
	height: 32px;
	text-align: left;
	font-size: 12px;
	color: #fff;
    z-index: 2;
}


.menu {
    position: absolute;
    top: 9.24px;
    left: 745.39px;
    width: 255px;
    height: 15px;
    z-index: 1;
}

.what_we_do, .our_results, .contact_us {
    position: absolute;
    top: calc(50% - 7.5px);
}

.what_we_do {
    left: 0%;
}

.our_results {
    left: 40%;
}

.contact_us {
    left: 78.43%;

}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 161px;
    height: 32px;
    object-fit: cover;
    z-index: 1;
}


/* Main styles */

.mask {
    width: 100%;
    position: absolute;
    background-color: #d8d8d8;
    border: 1px solid #979797;
    box-sizing: border-box;
    min-height: 100vh;
    z-index: 1;
}

.main {
	width: 100%;
	position: relative;
	height: 800px;
	text-align: center;
	font-size: 16px;
	color: #fff;
    overflow: hidden;
}

.background-image {
	width: 100%;
    position: absolute;
	top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}


.text {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


.lorem-ipsum, .lorem-ipsum1, .lorem-ipsum2 {
	display: block;
    margin: 20px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6565;
    color: #fff;
    border-radius: 22px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-top: 20px;
}

.button .call_to_action {
	display: block;
}



