@media screen and (max-width: 479px) {

  /* FONTS */
  @font-face {
    font-family: 'SourceSansPro';
    src: url('assets/fonts/SourceSansPro-Regular.otf') format('opentype');
    font-weight: 400; /* Normal weight */
    font-style: normal;
  }

  @font-face {
    font-family: 'SourceSansPro';
    src: url('assets/fonts/SourceSansPro-BlackIt.otf') format('opentype');
    font-weight: 900; /* Black weight */
    font-style: italic;
  }

  @font-face {
    font-family: 'SourceSansPro';
    src: url('assets/fonts/SourceSansPro-Semibold.otf') format('opentype');
    font-weight: 600; /* Semi-bold weight */
    font-style: normal;
  }

  @font-face {
    font-family: 'SourceSansPro';
    src: url('assets/fonts/SourceSansPro-Bold.otf') format('opentype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }

  @font-face {
    font-family: 'SourceSansPro';
    src: url('assets/fonts/SourceSansPro-BoldIt.otf') format('opentype');
    font-weight: 700; /* Bold weight */
    font-style: italic;
  }

  @font-face {
    font-family: 'SpinCycle';
    src: url('assets/fonts/spincycle_ot.otf') format('opentype');
    font-weight: 400; /* Normal weight */
    font-style: normal;
  }

  @font-face {
    font-family: 'HolbertonGlyphs';
    src: url('assets/holberton_school-icon/fonts/holberton_school-icon.ttf') format('truetype');
    font-weight: 400; /* Normal weight */
    font-style: normal;
  }

  body {
    font-family: SourceSansPro;
  }

  .content {
    max-width: 479px;
    margin: 0 auto;
  }

  .background-image {
    background-image: url('assets/images/headphones_hero_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 900px;

  }

  header {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }

  .header-icon {
    display: flex;
    align-items: center;
    margin-left: 10%;
    transform: scale(0.5);
  }

  .holberton_school-icon-menu {
    font-family: 'HolbertonGlyphs';
    font-size: 24px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .page-navigation {
    display: none;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .menu-link {
    display: flex;
    align-items: center;
    padding: 0 25px;
    color: white;
    text-decoration: none;
  }

  .menu-link:hover {
    color:#FF6565;
  }

  /* Main Section */

  .main {
    align-self: center;
    text-align: center;
    color: white;
    max-height: 1020px;
    position: relative;
  }

  .main-heading {
    font-size: 32px;
    font-weight: 600; /*Bold*/
    margin-bottom: -10px;
  }

  .main-text {
    font-size: 16px;
    font-weight: 400; /*Bold*/
    
  }

  .main-paragraph {
    font-size: 16px;
    font-weight: 400; /*normal*/
    line-height: 1.5;
    margin-top: 65px;
  }

  .main-button {
    background-color: #FF6565;
    border-radius: 22px;
    height: 44px;
    width: 162px;
    color: white;
    font-size: 14px;
    font-weight: 700; /*Bold*/
    border-style: none;
    cursor: pointer;
    margin-top: 10px;
  }

  .main-button:hover {
    opacity: 0.8;
  }

  /* What We Do Section */

  .section-what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1200px;
    width: 207px;
  }

  .what-heading-container {
    height: 184px;
    width: 637px;
    text-align: center;
    margin-bottom: 100px;
  }

  .what-heading {
    font-size: 32px;
    font-weight: 600; /*Semi-bold*/
    margin-bottom: 40px;
  }

  .what-paragraph {
    font-size: 16px;
    text-align: center;
    display: flex;
  }

  .what-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .what-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .what-card-icon {
    color:#FF6565;
    width: 94px;
    height: 65px;
    font-size: 5rem;
    margin-bottom: 10px;
  }

  .what-card-heading {
    font-size: 18px;
    font-weight: 600; /*Semi-bold*/
  }

  .what-card-text {
    font-size: 14px;
    font-weight: 400; /*normal*/
    max-width: 200px;
    line-height: 2;
    margin-top: -5px;
  }

  .section-our-results {
    display: flex;
    align-items: center;
  }

  .background-image-2 {
    background-image: url('assets/images/headphones_hero_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1491px;
  }

  .our-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  .our-heading {
    font-size: 32px;
    font-weight: 600; /*Semi-bold*/
    text-align: center;
  }

  .our-paragraph {
  width: 90%;
  font-size: 16px;
  font-weight: 400; /*normal*/
  text-align: center;

  }

  .our-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .our-card {
  padding: 10px;
  margin-bottom: 20px;
  }

  .our-card-heading {
  background-image: url('assets/images/pentagone.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 57px;
  text-align: center;
  font-size: 46px;
  font-weight: 700; /*Bold*/
  }

  .our-card-paragraph {
    text-align: center;
    font-size: 14px;
    font-weight: 400; /*normal*/
    margin-top: -99px;
  }



  /* Contact Us Section */
  .section-contact-us {
    width: 335px;
    height: 373px;
    margin-top: 110px;
    margin-bottom: 130px;
  }

  .contact-heading {
    text-align: center;
    font-size: 32px;
    font-weight: 700; /*Bold*/
    color: #071629;
    margin-bottom: 56px;
  }

  .contact-form-label {
    text-align: left;
    font-size: 32x;
    font-weight: 400; /*normal*/
    color: #071629;
    border-bottom: 2px solid rgba(151, 151, 151, 0.3);
    margin-bottom: 45px;
  }

  .contact-form-label-text {
    font-weight: 600; /*Semi-bold*/
    color: #071629;
  }

  .contact-input {
    height: 30px;
    border-bottom: 2px solid #ccc;
    font-family: 'Source Sans Pro';
    font-size: 14px;
  }

  .button-container{
    display: flex;
    justify-content: center;
  }

  .contact-button {
    background-color: #FF6565;
    border-radius: 22px;
    height: 44px;
    width: 162px;
    color: white;
    font-size: 14px;
    font-weight: 700; /*Bold*/
    border-style: none;
    cursor: pointer;
  }

  .contact-button:hover {
    opacity: 0.8;
  }

  /* Footer styles */
  footer {
    position: relative;
    height: 249px;
    width: 100%;
    background-color: #071629;
  }

  /* Background for the entire footer */
  /* .footer-background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #071629;
    z-index: -1;
  } */

  /* Logo icon styling */
  .footer-icon img {
   top: 20px;
   left: 50%;
   transform: translateY(-50%, 0);
  }

  /* Social media icons styling */
  .socials-container {
    bottom: 50px;
    right: 50%;
    transform: translateX(50%);
    display: cover;
  }

  .social-icon {
    font-family: ''; /* Replace with your icon font family */
    font-size: 24px;
    color: #fff;
    position: 'flex-center';
    display: flex;
  }

  /* Copywrite text styling */
  .copywrite {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.35;
    display: inline-block;
  }

  /* just for visualization
  border-width: 2px;
  border-style: solid;
  border-color: white;*/
}