/* FONTS */
@font-face {
  font-family: 'SourceSansPro';
  src: url('assets/fonts/SourceSansPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('assets/fonts/SourceSansPro-BlackIt.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('assets/fonts/SSourceSansPro-Semibold.otf') format('opentype');
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('assets/fonts/SourceSansPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('assets/fonts/SourceSansPro-BoldIt.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SpinCycle';
  src: url('assets/fonts/spincycle_ot.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HolbertonGlyphs';
  src: url('assets/holberton_school-icon/fonts/holberton_school-icon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: SourceSansPro;
  font-weight: normal;
  font-style: normal;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

.background-image {
  background-image: url('assets/images/headphones_hero_1.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 900px;
}

header {
  display:flex;
  flex-direction: column;
  align-content: flex-end;
}
.header-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.header-icon {
  display: flex;
  align-items: center;
  margin-left: 10%;
  transform: scale(0.5);
}

.page-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 10%;
  color: white;
  font-size: 12px;
}

.menu-link {
  display:flex;
  align-items: center;
  padding: 0 25px;
  color: white;
  text-decoration: none;
}

.menu-link:hover {
  color:#FF6565;
}

/* Main Section */

.main {
  align-self: center;
  text-align: center;
  color: white;
  max-width: 637px;
  max-height: 313px;
  position: relative;
  margin-top: 372px;
}

.main-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: -10px;
}

.main-text {
  font-size: 16px;
  font-weight: bold;
}

.main-paragraph {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 65px;
}

.main-button {
  background-color: #FF6565;
  border-radius: 22px;
  height: 44px;
  width: 162px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
  margin-top: 10px;
}

.main-button:hover {
  opacity: 0.8;
}

/* What We Do Section */

.section-what-we-do {
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  padding-top: 80px;
}

.what-heading-container {
  height: 184px;
  width: 637px;
  text-align: center;
  margin-bottom: 100px;
}

.what-heading {
  font-size: 32px;
  font-weight:bolder;
  margin-bottom: 40px;
  /* bolder is using Semibold font */
}

.what-paragraph {
  font-size: 16px;
}

.what-cards-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.what-card {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 58px;
}

.what-card-icon {
  color:#FF6565;
  width: 94px;
  height: 65px;
  font-size: 5rem;
  margin-bottom: 10px;
}

.what-card-heading {
  font-size: 18px;
  font-weight: bolder;
  /* bolder is using Semibold font */

}

.what-card-text {
  font-size: 14px;
  font-weight: normal;
  max-width: 200px;
  line-height: 2;
  margin-top: -5px;
}
  /* just for visualization
  border-width: 2px;
  border-style: solid;
  border-color: red;*/

  .section-our-results {

  }

  .section-contact-us {

  }

  footer {

  }