
/* Contact Us */

.contact-form-laber {

}

/* Footer */

footer {
    position: relative;
    height: 249px;
    width: 100%;
    background-color: #071629;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 20px 0;
}


.footer-icon {
    position: absolute;
    top: 10px;
    left: 20px;
}

.page-navigation {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.social-icon {
    display: inline-block;
    margin-left: 10px;
    font-family: 'glyphs';
    font-size: 24px;
    color: #fff;
    position: right;
    justify-content: space-evenly;
}

.copywright {
    width: 98px;
    position: relative;
    display: flex;
    font-size: 12px;
    font-family: 'Source Sans Pro';
    color: #fff;
    text-align: left;
    display: inline-block;
    opacity: 0.35;
    mix-blend-mode: normal;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Footer styles */
footer {
    position: relative;
    height: 249px;
    width: 100%;
    background-color: #071629;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 20px 0;
}



.footer-icon img {
    max-width: 100%;
    height: auto;
}

.page-navigation {
    position: absolute;
    bottom: 20px;
    right: 20px;
}



/* Responsive */
@media (max-width: 768px) {
    .footer-icon,
    .page-navigation,
    .copywrite {
        position: static;
        transform: none;
        margin: 10px 0;
    }

    .page-navigation {
        text-align: center;
    }

    .social-icon {
        margin: 0 5px;
        position: center;
    }
}
